* {
    margin: 0;
    padding: 0;
    border: 0;
}
/*body {
    background-image: url(../imagens/RTX.jpg);
    background-size: 25%;
    background-repeat: no-repeat;
}*/
#img {
    background-image: url(../imagens/RTX.jpg);
    background-size: 25%;
    background-repeat: repeat-x;
    border: 3px solid greenyellow;
    width: 100%;
    height: 300px;

}