* {
    padding: 0;
    border: 0;
}
div {
    width: 100px;
    height: 100px;
    margin: 20px;
    position: absolute;
    
}
.roxo {
    background-color: purple;
    z-index: 0;
    
}
.vermelho {
    background-color: red;
    z-index: 10;

    
}

.preto {
    background-color:  black;
    z-index: 0;
   
   
}

.azul {
    background-color: blue;
    z-index: 0;
}