* {
    margin: 0;
    padding: 0;
    border: 0;
}
h1 {
    width: 100%;
    background-color: blueviolet;
    padding-left: 150px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 4px solid black;
    color: white;
    margin: auto;


}